.App {
  margin-top: 25px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 200 px;
  padding: 20px;
  color: white;
}

.card-panel {
  max-width: 90%;
  margin: 0 auto;
}

.App-intro {
  font-size: large;
}

.TodoListItem {
  display: flex;
  flex-wrap: wrap;
}

.TodoListItem-content {
  flex: 1;
  line-height: 36px;
  min-width: 200px;
  word-break: break-all;
  white-space: normal;
}

.TodoListItem-complete {
  display: inline-block;
  margin-right: 20px;
}

.input-task-row {
  display: flex;
}

.priority-arrows {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.arrow {
  width: 10px;
  height: 10px;
  margin-bottom: 5px;
  color: #818181;
  cursor: pointer;
}

.arrow:hover {
  transform: scale(1.25);
}

li.placeholder {background: rgb(255,240,120);}
li.placeholder:before {
  content: "Drop here";
  color: rgb(225,210,90);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
